appdirs
asgiref
# LOC 36 ->
# backports.zoneinfo
CacheControl
certifi
chardet
colorama
contextlib2
distlib
distro
dj-database-url
Django
django-crispy-forms
djangorestframework
gunicorn
html5lib
idna
ipaddr
lockfile
msgpack
packaging
pep517
Pillow
progress
psycopg2-binary
pyparsing
pytoml
pytz
requests
retrying
six
sqlparse
urllib3
webencodings
whitenoise
backports.zoneinfo;python_version<"3.9" 
# Source:
# https://stackoverflow.com/questions/71712258/error-could-not-build-wheels-for-backports-zoneinfo-which-is-required-to-insta
